---
import Twitter from '../images/twitter.webp';
import Twitch from '../images/twitch.webp';
import Linkedin from '../images/linkedin.webp';
import Github from '../images/github.webp';
import Gmail from '../images/gmail.webp';
import HeaderLink from './HeaderLink.astro';
---

<div class="w-full flex flex-row justify-center flex-nowrap mb-20">
    <HeaderLink
        href="https://twitter.com/matthughes2112"
        image={Twitter}
        text="Twitter"
    />
    <HeaderLink href="https://twitch.tv/zee_pk" image={Twitch} text="Twitch" />
    <HeaderLink
        href="https://www.linkedin.com/in/matthughes-dev/"
        image={Linkedin}
        text="Linkedin"
    />
    <HeaderLink
        href="https://www.github.com/zeepk"
        image={Github}
        text="Github"
    />
    <HeaderLink href="mailto:matt@matthughes.dev" image={Gmail} text="Email" />
</div>
